/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Hero Section */
.heading {
    text-align: center;
    padding: 100px 0;
    background-color: #0f399a;
}

.heading h1 {
    font-size: 2.5em;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.feature {
    text-align: center;
    margin: 20px;
}

.feature img {
    max-width: 100px;
}

/* Pricing Section */
.pricing {
    text-align: center;
    padding: 50px 0;
}

.option1 {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.option2{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #0bdb42;
    border-radius: 2.5px;
}

/* FAQs Section */
.faq {
    text-align: center;
    padding: 50px 0;
}

.faq h3 {
    font-weight: bold;
}

/* Testimonials Section */
.feedbacks {
    text-align: center;
    padding: 50px 0;
}

.feedback {
    margin: 20px;
}

.feedback img {
    max-width: 100px;
    border-radius: 50%;
}

.page_stats {
    text-align: center;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.album{
    width:10%;
    height:10%;
    display:incline-block;
    float:right
}

.middle{
    text-align:center;

}

.signup{
     position:relative;
     top:60px;
     left:40px;
}

.sideflex{
    float: right;
    flex-direction: column;
    display:flex;
    background-color:aquamarine

}

.flexhead{
    background-color:aliceblue;
    margin: 10px;
   padding: 10px;
 

}

.sideflex > div{
    background-color: #f1f1f1;
   margin: 10px;
   padding: 10px;
   font-size: 12px;

}

.logo{
    color:#f1f1f1

}
.logo:hover{
    color:#ccc;
}

form {
    width : 30%;
    height : 30%;
    background-color: antiquewhite;
    padding:12% 10%;
    font-size:16px;
    border-radius:12px;
    margin:10% auto;

}


/* Footer Section */
footer {
    text-align: center;
    background-color: #88d7ea;
    color: rgb(124, 177, 31);
    padding: 10px 0;
}

/*this is for signup page */
.box {
    background-color: antiquewhite;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box a {
    display: inline-block;
    background-color: #fff;
    padding: 5%;
    border-radius: 1em;
}
.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(207, 219, 116, 0.7);
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: flex;
    text-align: center;
    background: rgb(154, 248, 96);
    width: 5%;
    padding: 8% 8%;
    border-radius: 1em;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.box-close {
    position: flex;
    top: 0;
    right: 1em;
    color: #fe0606;
    text-decoration: none;
    font-size: 1em;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}S
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }