/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Hero Section */
.heading {
    text-align: center;
    padding: 100px 0;
    background-color: #0f399a;
}

.heading h1 {
    font-size: 2.5em;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.feature {
    text-align: center;
    margin: 20px;
}

.feature img {
    max-width: 100px;
}

/* Pricing Section */
.pricing {
    text-align: center;
    padding: 50px 0;
}

.price {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* FAQs Section */
.faq {
    text-align: center;
    padding: 50px 0;
}

.faq h3 {
    font-weight: bold;
}

/* Testimonials Section */
.feedbacks {
    text-align: center;
    padding: 50px 0;
}

.feedback {
    margin: 20px;
}

.feedback img {
    max-width: 100px;
    border-radius: 50%;
}

/* Footer Section */
footer {
    text-align: center;
    background-color: #333;
    color: rgb(124, 177, 31);
    padding: 10px 0;
}