/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin: 0;
    padding: 0;
}

p{
    font:italic normal 16px Times New Roman;
}
/* Navigation Bar */
nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 2em;
}

nav li {
    display: inline;
    margin: 4em;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Heading Section */
.heading {
    text-align: center;
    padding: 100px 0;
    background-image: linear-gradient(62deg, #1c1183 0%, #a3146c 100%);
    border-style:solid;
    border-color: rgb(239, 94, 4);
}

.heading h1 {
    font-size: 2.5em;
    color:darkorange
}

.heading p{
    font-size:1em;
    color:goldenrod;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 10%;
    border:5px solid rgb(92, 20, 165);
    position:relative;
    background-image:linear-gradient(62deg, #1dcc46 0%, #35f1f4 100%);
}

.feature1 {
    text-align: center;
    border: 5px solid rgb(236, 86, 6);
    display: inline-block;
    width:60em;
    block-size: 30em;
}

.feature2 {
    text-align: center;
    border: 5px solid rgb(236, 86, 6);
    display: inline-block;
    width:60em;
    block-size: 30em;
}

.feature3 {
    text-align: center;
    border: 5px solid rgb(236, 86, 6);
    display: inline-block;
    width:60em;
    block-size: 30em;
}

.feature4 {
    text-align: center;
    border: 5px solid rgb(236, 86, 6);
    display: inline-block;
    width:60em;
    block-size: 30em;
}
/*feature image*/
.features img {
    width:40%;
    height:30%
}

/* Pricing Section (id css)*/
.pricing {
    border: 5px solid rgb(71, 1, 80);
    text-align: center;
    border-radius: 1em;
    margin: 50px 0;
}

.discount{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 5px dashed #8c0909;
    border-radius: 5px;
}
.option1 {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 5px dashed #074807;
    border-radius: 5px;
}

.option2{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #8c0909;
    border-radius: 2.5px;
}

/* FAQs Section(id css) */
.faq {
    text-align: center;
    padding: 50px 0;
}

.faq h3 {
    font-weight: bold;
}

/* Feedback Section */
.feedbacks {
    text-align: center;
    padding: 50px 0;
}

.feedback {
    margin: 20px;
}

.feedback img {
    width:5%;
    height:5%;
    border-radius: 50%;
}

/*stats of website*/
.page_stats {
    text-align: center;
    display: inline;
    background: #e7dada;
    height:30px;
    border-radius: 5px;
}

.count{
    font:italic;
}

.album{
    width:10%;
    height:10%;
    display:incline-block;
    float:right
}

.middle{
    text-align:center;

}

.signup{
     position:relative;
     top:60px;
     left:40px;
}

/*flexbox*/
.sideflex{
    display:flex;
    position:relative;
    top:60em;;
    float: right;
    flex-direction:column;
    background-color:aquamarine;
    border:2px solid rgb(92, 20, 165); ;

}

.flexhead{
    background-color:aliceblue;
    margin: 10px;
   padding: 10px;
 

}

.sideflex > div{
    background-color: #f1f1f1;
   margin: 10px;
   padding: 10px;
   font-size: 12px;

}

/*make the webpage responsive */
/*use code from https://www.w3schools.com/css/css3_flexbox_responsive.asp*/
@media (max-width: 800px) {
    .sideflex {
      flex-direction: row;
    }
  }


form {
    width : 30%;
    height : 30%;
    background-color: antiquewhite;
    padding:12% 10%;
    font-size:16px;
    border-radius:12px;
    margin:10% auto;

}


/* Footer Section */
footer {
    text-align: center;
    background-color: #ed761a;
    color: rgb(33, 253, 249);
    padding: 10px 0;
    border-style:solid;
    border-color:rgb(42, 16, 22)
}

/*this is for signup page */
.box {
    background-color: antiquewhite;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box a {
    display: inline-block;
    background-color: #fff;
    padding: 5%;
    border-radius: 1em;
}
.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(207, 219, 116, 0.7);
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: flex;
    text-align: center;
    background: rgb(154, 248, 96);
    width: 5%;
    padding: 8% 8%;
    border-radius: 1em;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.box-close {
    position: flex;
    top: 0;
    right: 1em;
    color: #fe0606;
    text-decoration: none;
    font-size: 1em;
}


/*Make body webpage responsive to different devices*/
/*use part of the codes from https://www.w3schools.com/css/css_rwd_intro.asp */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}S
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }